* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  border: 2px solid black;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
  color: white;
  user-select: none;
}

.game-screen {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  width: 15%; 
  border: 2px solid white;
  margin-right: 0px;
  align-items: center;
}

.highScoreBox, .scoreBox, .targetBox, .healBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  font-size: 1.6rem;
  color: black;
  border: #000000 solid 2px;
}

.gameContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin-left: 0;
}

.lifeContainer{
  display: flex;
  flex-direction: row;
  top: 10px;
  left: 10px;
  width: 20%;
  height: 10%;
}

#levelText {
  position: absolute;
  color: white;
  font-size: 4rem;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.lifeBox {
  height: 100%;
  width: 20%;
  background-color: green;
  border: 2px solid white;
}

.targetContainer {
  display: flex;
  flex-direction: column;
  width: 15%;
  border: 2px solid white;
  align-items: center;
}

.SHOOT_THE_KOMSAI_Canvas {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 2px solid #ffffff;
  user-select: none;
  max-height: 10vh;
}

.pixelify-sans-text {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 3rem;
  max-width: 50%;
  text-align: center;
  color: white;
}

#gameCanvas {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}