* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  border: 2px solid black;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
  color: white;
}

.SHOOT_THE_KOMSAI_Canvas {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 2px solid #ffffff;
  user-select: none;
  min-height: 30vh;
}

.pixelify-sans-text {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: clamp(40px, 10vw, 80px);
  max-width: 50%;
  text-align: center;
  color: white;
}

canvas {
  width: 100%;
  height: auto;
  display: block;
}